<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ActionMessageTemplate</key>
    <string>%sender% %message%</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleGetInfoString</key>
    <string>Metro</string>
    <key>CFBundleIdentifier</key>
    <string>com.adiumx.metro.style</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>1.0</string>
    <key>CFBundleName</key>
    <string>Metro</string>
    <key>CFBundlePackageType</key>
    <string>AdIM</string>
    <key>DefaultBackgroundColor</key>
    <string>ffffff</string>
    <key>DefaultVariant</key>
    <string>blue</string>
    <key>DisableCustomBackground</key>
    <true/>
    <key>MessageViewVersion</key>
    <integer>4</integer>
    <key>ShowsUserIcons</key>
    <false/>
    <key>AllowTextColors</key>
    <false/>
    <key>DisableCombineConsecutive</key>
    <false/>
</dict>
</plist>